{% extends '../content_base.html.twig' %}

{% block content_body %}
    <h1> Add a new book!</h1>

    {{ form_start(bookForm) }}
        {{ form_widget(bookForm) }}

        <button type = "submit" class = "btn btn-primary">Add</button>
    {{ form_end(bookForm) }}
{% endblock %}