{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


{% block body %}
        {% for book in books %}
            <article class="post">
                <a href="#" class="genre-link">{{ book.genre.name }}</a>
                <a href="{{ path('book_view', {slug: book.slug}) }}"><h4>{{ book.name }}</h4></a>
            </article>
        {% endfor %}
    </section>
{% endblock %}